body {
  padding: 0;
  margin: 0;
}

.cards {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 200px;
  justify-content: center;
}

.card {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #5d3891;
  border-radius: 12px;
  gap: 10px;
}

.header {
  padding: 16px 0px;
  font-size: 32px;
  background-color: #1f2937;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  padding: 0;
  margin: 0;
}

.temp-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.security-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.color-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
