body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

img {
  width: 100px;
  height: auto;
  
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

.table {
  display: flex;
  justify-content: center;
}

.cards {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 200px;
  row-gap: 200px;
  justify-content: center;
}

.card {
  text-align: center;
  min-height: 200px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #5d3891;
  border-radius: 12px;
  gap: 10px;
}

.header {
  padding: 16px 0px;
  font-size: 32px;
  background-color: #1f2937;
  color: #f5f5f5;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.header > h1 {
  padding: 0;
  margin: 0;
}

.temp-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.security-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.color-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  color: #FD841F;
}

.state {

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background-color: #3882f6;
  border-radius: 15px;
  border: 1px solid transparent;
  font-size: 16px;
  text-align: center;
  padding: 5px 12px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: 0.07s;
}

button:active {
  transform: translateY(4px);
  filter: brightness(85%);
  transition: 0.07s;
}

a {
  color: #f5f5f5;
}

.header > .header-logout {
  display: flex;
  justify-content: space-between;
}

div.room-form {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.room-form > form {
  border: 2px solid #1f2937;
  border-radius: 24px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
}

#room-type {
  font-size: 20px;
}

#room-selection {
  display: flex;
  gap: 20px;
}

button[name="addRoom"] {
  width: 160px;
  height: 40px;
  font-size: 20px;
  border-radius: 24px;
}

#devices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
}

.add-room-header {
  margin-bottom: 100px;
}

table {
  margin-top: 50px;
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: black;
  border-color: #1f2937;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table caption {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  thead {
    display: none;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }
  
  td {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
  }
  
  td:before {
    color: #777;
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

.gey {
  background-color: #1f2937;
  color: white;
}